.footer-contacts {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.footer-contacts__logo {
  font-family: var(--logo-font);
  color: var(--accent-color);
  text-decoration: none;
}

.footer-contacts__light-logo {
  font-family: var(--logo-font);
  color: #ffffff;
  text-decoration: none;
}
