.footer-form {
  width: 450px;
  height: 156px;

  @media screen and (min-width: 1200px) {
    width: 570px;
    height: 86px;
  }
}

.singup-form {
  margin-top: 20px;
}

.singup-form__content {
  font-size: 12px;
  color: var(--main-text-color);

  @media screen and (min-width: 1200px) {
    display: flex;
    font-size: 12px;
    color: var(--main-text-color);
  }
}

.singup-form__input {
  width: 450px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--dark-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
  }
}

.singup-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0;
  }
}

.singup-form__btn-icon {
  fill: currentColor;
  margin-left: 10px;
}
