:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --dark-bg-color: #2f303a;
  --main-bg-color: #e5e5e5;
  --second-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --team-icon-color: #afb1b8;
  --logo-font: "Raleway", sans-serif;
  --grid-item: 1;
}
