.list__item {
  display: none;

  @media screen and (min-width: 1200px) {
    --grid-item: 3;

    position: relative;
  }

  .link:hover & {
    display: none;

    @media screen and (min-width: 1200px) {
      --grid-item: 3;
    }
  }
}

.list__work {
  display: none;

  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);

    width: 370px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
