.client-list__icon {
  fill: var(--team-icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: var(--accent-color);
  }
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid var(--team-icon-color);
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--title-color);
    border: 1px solid var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
    height: 90px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 90px;
  }
}

.client-list__item {
  --grid-item: 2;

  @media screen and (max-width: 1199.98px) {
    --grid-item: 3;
  }

  @media screen and (min-width: 1200px) {
    .client-list__item + .client-list__item {
      margin-left: 30px;
    }
  }
}
