.our-team,
.portfolio,
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .portfolio {
  background-color: var(--main-bg-color);
}

.section-hero,
.footer {
  background-color: var(--dark-bg-color);
}

.our-activity {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
