.our-activity,
.our-team,
.portfolio,
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .portfolio {
  background-color: var(--main-bg-color);
}

.section-hero,
.footer {
  background-color: var(--dark-bg-color);
}
